.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: rgb(48, 86, 87);
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add-image-upload img {
    width: 120px;
    cursor: pointer;
    height: 100px;
    border-radius: 5px;
}

.add-product-name,
.add-product-description {
    width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
    padding: 10px;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select,
.add-category-price input {
    max-width: (120px);
    padding: 10px;
}

.add-btn {
    max-width: 354px;
    border: none;
    padding: 10px;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
    border-radius: 25px;

}

.add-btn:hover {
    background-color: rgb(121, 193, 195);
}

.add p {
    margin-bottom: 5px;
}

.add input,
select,
textarea {
    border: 1px solid cadetblue;
    border-radius: 2px;
}