.header {
    height: 27vw;
    border-radius: 30px;
    margin: 10px auto;
    background: url('/final.jpg') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.3vw;
    bottom: 15%;
    left: 6vw;
    animation: fadeIn 1.5s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    font-size: 98px;
}

.header-contents p {
    color: white;
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20px;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    margin-left: 20px;
}

@media (max-width:500px) {
    .header-contents {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.3vw;
        bottom: 12%;
        left: 7vw;
        animation: fadeIn 1.5s;
    }

    .header-contents h2 {
        font-weight: 500;
        color: white;
        font-size: max(4.5vw, 22px);
        font-size: 50px;
    }

    .header-contents p {
        /* display: none; */
        margin-left: 115px;
        font-size: 3vw;
    }

    .header-contents button {
        margin-left: 122px;
        width: 100px;
        height: 35px;
    }

    .header {
        height: 70vw;
        background-size: cover;
        margin-bottom: 20px;
    }

}
@media (max-width:430px) {
    .header-contents h2 {
        font-size: 45px;
    }
}
@media (max-width:400px) {
    .header-contents h2 {
        font-size: 40px;
    }
}
